#container{ /* --- styr hela sidan, bilden---*/
  width: 100%;
  text-align: center;
  margin-top: -5%;
}

.jumbotron {
  
}

body {
  background-color: blue;
}

ul li {
  position: center;
  list-style: none;
  padding: 12px;
  font-size: 15px;
  margin-top: -25%;
  position: relative;
  color: white;
}
 
li a {
  position: center;
  list-style: none;
  padding: 12px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin-top: -25%; 
  position: relative;
}
 
li a:hover {
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin-top: -25%;
  position: relative;
}

.image { 
  position: relative; 
  width: 100%;
}

.rundbild {
  position: relative;
  margin-top: -38%;
  margin-left: 45%; 
  z-index: 1;
  opacity: 10%;
}

h2 { 
  position: absolute; 
  margin-top: 65%;
  margin-left: 30%; 

}

h2 span { 
   color: white; 
   font: bold 45px/75px Helvetica, Sans-Serif; 
   letter-spacing: 7px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.3);
   padding: 20px;
}