html {
  min-height: 100%;
  overflow: auto;
}
body {
  min-height: 100%;
  background-image: url('http://mathildaprim.github.io/bilder/bakgrund.png');
  background-size: cover;
  background-repeat: no-repeat; 
}

img {
  border-radius: 9999px;
  width: 180px;
  height: 180px;
  margin-left: 550px;
  margin-top: 100px;

}

a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-family: helvetica;
  letter-spacing: 2px;
  margin-left: 280px;

}

a:hover {
  text-decoration: underline;
}

h2 { 
  position: absolute; 
  margin-top: 30px;
  margin-left: 370px; 

}

h2 span { 
   color: white; 
   font: bold 45px/75px Helvetica, Sans-Serif; 
   letter-spacing: 7px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.3);
   padding: 20px;
}