#container{ /* --- styr hela sidan, bilden---*/
  width: 100%;
  text-align: center;
  margin-top: -5%;
}

.jumbotron {
  background-color: blue;
}

body {
  background-color: grey;
}

ul li {
  float: right;
  list-style: none;
  padding: 12px;
  font-size: 15px;
  margin-top: -25%;
  position: relative;
  color: white;
}
 
li a {
  float: right;
  list-style: none;
  padding: 12px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin-top: -25%; 
  position: relative;
}
 
li a:hover {
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin-top: -25%;
  position: relative;
}

.hoger {
  color: white;
  position: relative;
}

.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

.rundbild {
  position: relative;
  margin-top: -38%; 
  margin-left: 18%;
  z-index: 1;
  opacity: 10%;
}

h2 { 
  position: absolute; 
  top: 360px; 
  margin-left: 5%; 
}

h2 span { 
   color: white; 
   font: bold 45px/75px Helvetica, Sans-Serif; 
   letter-spacing: 7px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.3);
   padding: 20px; 
}

#sidebar {
  width: 46%;
  min-height: 280px;
  margin-left: 5%;
  float: right;
  background-color: #DDD;
}

#footer {
  color: white;
  position: absolute;
  margin-top: 20%;
}
