html {
  min-height: 100%;
  overflow: auto;
}

body {
  min-height: 100%;
  background-image: url('http://mathildaprim.github.io/bilder/bakgrund.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: fixed;
  background-attachment: fixed;
}

.navbar-custom {
    margin-bottom: 0;
    margin-top: 20px;
    background-color: rgba(255,255,255,.9);
    opacity: 0.7;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-family: helvetica, Sans-Serif;
    letter-spacing: .25px;
    color: #000;

}

.navbar-custom .navbar-brand {
    font-size: 32px;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
}

.navbar-custom .btn{
    padding: 6px 12px;
}

.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    font-size: 18px;
    color: #000;
}

.navbar-custom .nav li.active {
    outline: none;
}

.navbar-custom .nav li.active a {
    color: #700774;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(0,0,0,.1);
}

img {
  border-radius: 9999px;
  width: 180px;
  height: 180px;
  margin-top: 100px;

}
.jumbotron {
  min-height: 100%;
  margin-top: 280px;
}

a {
  font-size: 22px;
  text-decoration: none;
  color: #575757;
  font-family: helvetica, Sans-Serif;

}

a:hover {
  text-decoration: none;
  color: #575757;
  font-family: helvetica, Sans-Serif;

}
h2 { 

  margin-top: 30px;
  text-align: center;
}

h2 span { 
   color: white; 
   font: bold 45px/75px Helvetica, Sans-Serif; 
   letter-spacing: 7px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.3);
   padding: 20px;
}
.col-sm-6 {
  float: none;
  display: block;
  margin: 0 auto;

}
.om {
  background: #fdb472;
  opacity: 0.7;
  height: 440px;
  margin: 0 auto;
}
.skills {
  background-color: #fdb472;
  opacity: 0.7;

}

.kontakt {
  background-color: #fdb472;
  opacity: 0.7;

}


.telefon {
  font-size: 30px;
}
.linkedinbild {
  font-size: 30px;
}

.mail {
  font-size: 30px;

}
